
{{ $scssMain := "scss/main.scss"}}
{{ $scssProductsMain := "scss/products-main.scss"}}
{{ $scssCodeBlock := "scss/_code-block.scss"}}


{{ $css := resources.Get $scssMain | toCSS (dict "enableSourceMap" false) | postCSS | resources.Minify | fingerprint }}
<link rel="preload" href="{{ $css.RelPermalink }}" as="style">
<link href="{{ $css.RelPermalink }}" rel="stylesheet" integrity="{{ $css.Data.integrity }}">

    {{ $cssProducts := resources.Get $scssProductsMain | toCSS (dict "enableSourceMap" false) | postCSS | resources.Minify | fingerprint }}
    <link href="{{ $cssProducts.RelPermalink }}" rel="stylesheet" integrity="{{ $cssProducts.Data.integrity }}">


